@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.loading {
	@apply rounded-full animate-spin w-8 h-8 border-2;
	min-width: 2rem;
	min-height: 2rem;
	border-color: #e5e7eb;
	border-top-color: #6b7280;
}
